<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="text-align:center;">
    <div class="date" mr-4 ml-4 style="padding:10px">
        <h4 style="text-align:right;">___/____/_______</h4>
        <div>
            <div>
                <div>
                   <img src=""> 
                   <h3 style="text-align:left;height: 300px;">Paciente:_____________________________________________________________</h3>
                </div>
                <div>
                    <h3 style="text-align:left;">Fármaco:</h3>
                    <div class="Textarea" style= "padding-bottom:100px">
                           
                   </div>
                   </div>
                </div>  
                <div>
                    <h3 style="text-align:left;">Uso:</h3>
                </div>    
                <div>
                    <h3 style="text-align:left;">Fazer:</h3>
                </div>    
                <div>
                    <h3 style="text-align:left;">Posologia:_____________________________________________________________<br>______________________________________________________________________<br>______________________________________________________________________<br>______________________________________________________________________<br>______________________________________________________________________<br></h3>
                </div>                  
            </div>
            <div>
              <p style="text-align:right;">Ítalo Carlos Amancio Menezes<br>
                                            Nutricionista - 13484</p>
            </div>
            
</body>
</html>