
#first-jumbotron{
    margin:50px;
    background-color: #e9ecef;
    width: 500;
    height:400px; 
    position:fixed;
    padding: 30px;
    border-radius: 10px;
}

#second-jumbotron{
    margin:50px;
    background-color: #e9ecef;
    width: 500;
    height:400px; 
    position:fixed;
    padding: 30px;
    border-radius: 10px;
}